mat-card {
  --mdc-elevated-card-container-shape: 0;

  mat-card-header,
  mat-card-actions {
    justify-content: center;
  }

  mat-card-content {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

.form-field {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
}
